body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: "Roboto-thin";
}

.splash-wrapper {
  text-align: center;
  font-size: 40px;
  margin: auto;
  line-height: 90vh;
}
.logo {
  background-color: yellow;
  color: black;
  padding: 20px 0px 0px 20px;
  margin-right: 10px;
  font-family: "Roboto";
  animation: splash-animation 0.5s 1s forwards;
  font-size: 0;
}

.splash-text {
  animation: splash-animation 0.5s 1.5s forwards;
  font-size: 0;
}

/**Animations**/

@keyframes splash-animation {
  0% {
    font-size: 0;
  }
  100% {
    font-size: inherit;
  }
}
