.splash-wrapper {
  font-size: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  animation: fade-in 0.5s 1s forwards;
  opacity: 0;
}

.splash-wrapper.active {
  animation: fade-out 1s forwards;
}

.logo {
  background-color: var(--logo-color);
  color: black;
  padding: 20px 5px 0px 20px;
  margin-right: 10px;
  font-family: "Roboto";
  animation: splash-animation 0.5s 1s forwards;
  font-size: 0;
}

.splash-text {
  animation: splash-animation 0.5s 1.5s forwards;
  font-size: 0;
  position: relative;
  top: 10px;
}
