.start-screen-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: fade-in 0.5s 0.5s forwards;
  /* display: none; */
}

.start-screen-inner {
  text-align: center;
}

.start-screen-main-text {
  font-size: 48px;
}

.checked .start-screen-main-text {
  font-size: inherit;
  text-align: left;
}

.start-screen-wrapper.checked {
  align-items: unset;
  display: inherit;
}

.start-screen-sub-text {
  margin-top: 10px;
  font-size: 18px;
}

#drop {
  background: blueviolet;
  height: 200px;
}

.side-panel {
  min-width: 20%;
  background-color: #424242;
  min-height: 100vh;
}

.results-inner {
  display: inline-block;
  line-height: 65px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.side-panel-file-list li {
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

ul.side-panel-file-list li.active {
  background-color: var(--primary-color);
}

.side-panel-file-list {
  height: 100vh;
  overflow: auto;
  position: fixed;
  width: 20%;
}

.results-title {
  font-size: 72px;
  font-family: "Roboto-thin";
}

.results-error-summary {
  font-size: 28px;
  font-family: "Roboto-thin";
}

.results {
  display: flex;
}

.error-list {
  line-height: 21px;
  margin-top: 160px;
  width: 100%;
  padding: 30px;
}

.error-list li {
  border-top: 1px #4d4d4d solid;
  padding: 10px 0;
}

.error-row {
  display: flex;
}

.error-attribute {
  width: 80px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 5px 5px;
  font-family: "Roboto";
  border-radius: 14px;
  font-weight: bold;
  margin-bottom: auto;
}

.error-description {
  width: 80%;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 5px 5px;
  text-align: left;
  font-size: 14px;
  font-family: "Roboto";
}

.error-attribute.error-line {
  background-color: var(--info-color);
}

.error-rule {
  background-color: var(--pass-color);
}

.error-type-error {
  background-color: var(--error-color);
}

.error-type-warning {
  background-color: var(--warning-color);
}

.side-panel-file-list li:first-child {
  margin-top: 160px;
}

.results-header {
  position: fixed;
  background-color: var(--primary-color);
  padding: 30px;
}
