.start-screen-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: fade-in 0.5s 0.5s forwards;
}

.start-screen-inner {
  text-align: center;
}

.start-screen-main-text {
  font-size: 48px;
}

.checked .start-screen-main-text {
  font-size: inherit;
  text-align: left;
}

.start-screen-wrapper.checked {
  align-items: unset;
  display: inherit;
}

.start-screen-sub-text {
  margin-top: 10px;
  font-size: 18px;
}

#drop {
  background: blueviolet;
  height: 200px;
}
