@import "./assets/styles/variables";
@import "./assets/styles/common";

.start-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.start-secondary-text {
  font-size: $font-size-sm;
}
