@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap");

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $primary-color;
}

.height-auto {
  height: auto;
}

#root {
  font-family: $primary-font;
  color: $primary-text-color;
  font-size: $font-size-md;
  font-weight: $font-weight-thin;
  padding: 3%;

  .container-fluid {
    margin-bottom: 50px;
  }
}

.row {
  flex-wrap: unset;
}

summary::-webkit-details-marker {
  display: none;
}
summary:before {
  content: "+";
  margin-right: 11px;
  width: 10px;
  display: inline-block;
}
details[open] summary:before {
  content: "-";
}

*::-webkit-scrollbar {
  background: #0e0e0e;
  width: 4px;
  height: 4px;
}
*::-webkit-scrollbar-thumb {
  background: #717171;
}

* {
  scroll-behavior: smooth;
}
